<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href=https://stitches.hyperyolo.com/output.css rel="stylesheet"> <link
    rel="stylesheet"
    href=https://use.fontawesome.com/releases/v5.6.3/css/all.css
    integrity=sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/
    crossorigin="anonymous">
    <title>Stitches</title>
  </head>
  <body>
    <nav
      class="font-sans bg-white text-center flex justify-between my-4 mx-auto container overflow-hidden"
    >
      <a href="/" class="block text-left">
        <img
          src="https://stitches.hyperyolo.com/images/logo.png"
          class="h-10 sm:h-10 rounded-full"
          alt="logo"
        />
      </a>
      <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
        <li>
          <a
            href="#"
            class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline"
            >Products</a
          >
        </li>
        <li>
          <a
            href="#"
            class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline"
            >Pricing</a
          >
        </li>
        <li class="pr-2">
          <a
            href="#"
            class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline"
            >FAQs</a
          >
        </li>
        <li class="pl-2 border-l">
          <a
            href="#"
            class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline"
            >Log In</a
          >
        </li>
        <button
          class="bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3"
        >
          Sign Up
        </button>
      </ul>
    </nav>
    <section
      class="font-sans h-screen w-full bg-cover text-center flex flex-col items-center justify-center"
      style="
        background: url(https://source.unsplash.com/random/1920x1080) no-repeat
          center;
      "
    >
      <div
        class="bg-white text-black rounded-full h-16 w-16 flex items-center justify-center mb-8"
      >
        <i class="fas fa-play ml-1"></i>
      </div>
      <label
        for=""
        class="uppercase tracking-extrawide text-white text-xs font-hairline mt-8"
        >Watch Video</label
      >
      <h3
        class="text-white mx-auto max-w-sm mt-4 font-normal text-2xl leading-normal"
      >
        Differentiate Yourself And Attract More Attention Sales And Profits
      </h3>
    </section>
    <section class="bg-gray-300 font-sans">
      <div class="container m-auto flex flex-col md:flex-row max-w-xl">
        <div
          class="flex flex-col w-full lg:w-1/2 justify-center items-start py-8"
        >
          <label for="tagline" class="uppercase tracking-loose"
            >best app ever</label
          >
          <h1 class="my-4 font-normal">Our Work Flow</h1>
          <p class="leading-normal mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, ex ea commodo consequat.   Sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium natus error sit.
          </p>
          <button
            class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent"
          >
            Learn More
          </button>
        </div>
        <div class="w-full lg:w-1/2 lg:py-6">
          <img
            src="https://stitches.hyperyolo.com/images/demo-devices.png"
            alt="image"
            class="w-full"
          />
        </div>
      </div>
    </section>
    <section
      class="my-8 font-sans container max-w-xl m-auto flex flex-col lg:flex-row text-center lg:text-left sm:items-center"
    >
      <div class="w-full lg:w-1/2">
        <img
          src="https://stitches.hyperyolo.com/images/demo-phone.png"
          alt=""
        />
      </div>
      <div
        class="w-full lg:w-1/2 flex flex-col justify-center items-start p-8 items-center lg:items-start"
      >
        <label
          for="tagline"
          class="uppercase tracking-wide text-gray-700 font-bold"
          >best app ever</label
        >
        <h1 class="my-4 font-normal">Our Work Flow</h1>
        <p class="leading-normal mb-4 text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </section>
    <section
      class="my-8 pt-8 font-sans container max-w-xl m-auto flex flex-col-reverse lg:flex-row text-center lg:text-left sm:items-center"
    >
      <div
        class="w-full lg:w-1/2 flex flex-col justify-center items-start p-8 items-center lg:items-start"
      >
        <label
          for="tagline"
          class="uppercase tracking-wide text-gray-700 font-bold"
          >best app ever</label
        >
        <h1 class="my-4 font-normal">Our Work Flow</h1>
        <p class="leading-normal mb-4 text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="w-full lg:w-1/2">
        <img
          src="https://stitches.hyperyolo.com/images/demo-phone.png"
          alt=""
        />
      </div>
    </section>
    <section
      class="my-8 font-sans container max-w-xl m-auto flex flex-col md:flex-row sm:items-center"
    >
      <div
        class="w-full md:w-1/2 flex flex-col justify-center items-start px-6 py-0 md:py-8 md:px-8 lg:items-start"
      >
        <label
          for="tagline"
          class="uppercase tracking-wide text-gray-700 font-bold"
          >various aspects</label
        >
        <h1 class="mt-2 mb-4 font-medium">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </h1>
        <p class="leading-normal mb-4 text-gray-700">
          Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod
          in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent
          dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu
          vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
          tincidunt quis, accumsan porttitor, facilisis luctus, metus. Phasellus
          ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula
          vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo
          a, sodales sit amet, nisi.
        </p>
      </div>
      <div
        class="w-full md:w-1/2 flex flex-row md:flex-col justify-between md:justify-center items-center p-2 md:p-8 items-center md:items-start"
      >
        <div
          class="flex items-center sm:border-r md:border-b md:border-r-0 p-4 w-1/2 md:w-auto"
        >
          <div
            class="w-14 h-14 rounded-full mr-4 bg-gray-300"
            alt="Avatar of Jonathan Reinink"
          ></div>
          <div class="">
            <h2 class="text-black font-medium">
              Aliquam tincidunt mauris eu risus.
            </h2>
            <p class="text-gray-700 leading-normal">
              Praesent dapibus, neque id cursus faucibus, tortor neque egestas
              auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.
              Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus,
              metus.
            </p>
          </div>
        </div>
        <div class="flex items-center p-4 w-1/2 md:w-auto">
          <div
            class="w-14 h-14 rounded-full mr-4 bg-gray-300"
            alt="Avatar of Jonathan Reinink"
          ></div>
          <div class="">
            <h2 class="text-black font-medium">
              Vestibulum auctor dapibus neque.
            </h2>
            <p class="text-gray-700 leading-normal">
              Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
              euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras
              consequat.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="font-sans container max-w-xl m-auto flex flex-col lg:flex-row justify-center my-8"
    >
      <div
        class="order-2 lg:order-1 w-full lg:w-1/4 flex flex-col items-center lg:items-end justify-center text-center lg:text-right ml-0 lg:ml-8 mt-8"
      >
        <div
          class="w-12 h-12 rounded-full bg-gray-300 mb-2"
          alt="Avatar of Jonathan Reinink"
        ></div>
        <h2 class="text-black mb-2 font-normal">Praesent placerat.</h2>
        <p class="text-gray-700 leading-normal mb-8">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div
          class="w-12 h-12 rounded-full bg-gray-300 mb-2"
          alt="Avatar of Jonathan Reinink"
        ></div>
        <h2 class="text-black mb-2 font-normal">
          Fusce pellentesque suscipit nibh.
        </h2>
        <p class="text-gray-700 leading-normal mb-8">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div
          class="w-12 h-12 rounded-full bg-gray-300 mb-2"
          alt="Avatar of Jonathan Reinink"
        ></div>
        <h2 class="text-black mb-2 font-normal">
          Ut aliquam sollicitudin leo.
        </h2>
        <p class="text-gray-700 leading-normal">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
      <div
        class="order-1 lg:order-2 w-full lg:w-1/2 max-w-sm m-auto mb-6 lg:mb-0"
      >
        <img
          src="https://stitches.hyperyolo.com/images/demo-phone.png"
          alt=""
        />
      </div>
      <div
        class="order-last w-full lg:w-1/4 flex flex-col items-center lg:items-start justify-center text-center lg:text-left mt-8 mr-8"
      >
        <div
          class="w-12 h-12 rounded-full bg-gray-300 mb-2"
          alt="Avatar of Jonathan Reinink"
        ></div>
        <h2 class="text-black mb-2 font-normal">
          Cras iaculis ultricies nulla.
        </h2>
        <p class="text-gray-700 leading-normal mb-8">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div
          class="w-12 h-12 rounded-full bg-gray-300 mb-2"
          alt="Avatar of Jonathan Reinink"
        ></div>
        <h2 class="text-black mb-2 font-normal">
          Praesent placerat risus quis eros.
        </h2>
        <p class="text-gray-700 leading-normal mb-8">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div
          class="w-12 h-12 rounded-full bg-gray-300 mb-2"
          alt="Avatar of Jonathan Reinink"
        ></div>
        <h2 class="text-black mb-2 font-normal">
          Nunc dignissim risus id metus.
        </h2>
        <p class="text-gray-700 leading-normal">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
    </section>
    <section class="my-8 font-sans container m-auto max-w-xl">
      <div class="text-center">
        <h1 class="my-4 font-medium">Show Your Work</h1>
        <p class="leading-normal mb-4 max-w-sm m-auto">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="flex flex-col sm:flex-row flex-wrap my-8">
        <div
          class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child"
        >
          <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
          <h3 class="mt-4 mb-1">Digital</h3>
          <p
            class="mt-4 text-center text-gray-700 leading-normal px-6 hidden hover:block"
          >
            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
            mauris sit amet orci. Aenean dignissim pellentesque felis.
          </p>
        </div>
        <div
          class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8 border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child"
        >
          <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
          <h3 class="mt-4 mb-1">Branding</h3>
          <p
            class="mt-4 text-center text-gray-700 leading-normal hidden hover:block"
          >
            Praesent dapibus, neque id cursus faucibus, tortor neque egestas
            auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.
          </p>
        </div>
        <div
          class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8 border-gray-300 border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child"
        >
          <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
          <h3 class="mt-4 mb-1">Excellence</h3>
          <p
            class="mt-4 text-center text-gray-700 leading-normal hidden hover:block"
          >
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec
            consectetuer ligula vulputate sem tristique cursus.
          </p>
        </div>
        <div
          class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8 border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child"
        >
          <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
          <h3 class="mt-4 mb-1">Strategy</h3>
          <p
            class="mt-4 text-center text-gray-700 leading-normal hidden hover:block"
          >
            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
            mauris sit amet orci. Aenean dignissim pellentesque felis.
          </p>
        </div>
        <div
          class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8 border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child"
        >
          <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
          <h3 class="mt-4 mb-1">Design</h3>
          <p
            class="mt-4 text-center text-gray-700 leading-normal hidden hover:block"
          >
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          </p>
        </div>
        <div
          class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8 border-gray-300 hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child"
        >
          <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
          <h3 class="mt-4 mb-1">Development</h3>
          <p
            class="mt-4 text-center text-gray-700 leading-normal hidden hover:block"
          >
            Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut
            turpis.
          </p>
        </div>
      </div>
    </section>
    <section
      class="font-sans container m-auto max-w-xl flex flex-col flex-wrap sm:flex-row justify-center"
    >
      <div class="w-full sm:w-1/2 lg:w-1/4 text-center py-8">
        <label for="" class="uppercase tracking-loose font-bold text-sm"
          >Basic Plan</label
        >
        <h1 for="" class="uppercase tracking-loose font-bold text-5xl my-2">
          $29<span class="text-gray-700 font-light text-xs">/mo</span>
        </h1>
        <p class="my-2 text-gray-700">
          <strong class="text-black pr-2">5</strong>Projects
        </p>
        <p class="my-2 text-gray-700">
          <strong class="text-black pr-2">20</strong>Images
        </p>
        <p class="mt-2 mb-6 text-gray-700">
          <strong class="text-black pr-2">9/5</strong>Support
        </p>
        <button
          class="bg-transparent hover:bg-black text-black-dark font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent"
        >
          Buy Now
        </button>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 text-center py-8">
        <label for="" class="uppercase tracking-loose font-bold text-sm"
          >Team Plan</label
        >
        <h1 for="" class="uppercase tracking-loose font-bold text-5xl my-2">
          $59<span class="text-gray-700 font-light text-xs">/mo</span>
        </h1>
        <p class="my-2 text-gray-700">
          <strong class="text-black pr-2">10</strong>Projects
        </p>
        <p class="my-2 text-gray-700">
          <strong class="text-black pr-2">40</strong>Images
        </p>
        <p class="mt-2 mb-6 text-gray-700">
          <strong class="text-black pr-2">12/7</strong>Support
        </p>
        <button
          class="bg-transparent hover:bg-black text-black-dark font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent"
        >
          Buy Now
        </button>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 text-center py-8">
        <label for="" class="uppercase tracking-loose font-bold text-sm"
          >Corporate Plan</label
        >
        <h1 for="" class="uppercase tracking-loose font-bold text-5xl my-2">
          $79<span class="text-gray-700 font-light text-xs">/mo</span>
        </h1>
        <p class="my-2 text-gray-700">
          <strong class="text-black pr-2">Unlimited</strong>Projects
        </p>
        <p class="my-2 text-gray-700">
          <strong class="text-black pr-2">Unlimited</strong>Images
        </p>
        <p class="mt-2 mb-6 text-gray-700">
          <strong class="text-black pr-2">24/7</strong>Support
        </p>
        <button
          class="bg-transparent hover:bg-black text-black-dark font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent"
        >
          Buy Now
        </button>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 text-center py-8">
        <label for="" class="uppercase tracking-loose font-bold text-sm"
          >Enterprise Plan</label
        >
        <h1 for="" class="uppercase tracking-loose font-bold text-5xl my-2">
          $199<span class="text-gray-700 font-light text-xs">/mo</span>
        </h1>
        <p class="my-2 text-gray-700">
          <strong class="text-black pr-2">Unlimited</strong>Projects
        </p>
        <p class="my-2 text-gray-700">
          <strong class="text-black pr-2">Unlimited</strong>Images
        </p>
        <p class="mt-2 mb-6 text-gray-700">
          <strong class="text-black pr-2">24/7</strong>Support
        </p>
        <button
          class="bg-transparent hover:bg-black text-black-dark font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent"
        >
          Buy Now
        </button>
      </div>
    </section>
    <footer class="font-sans bg-black text-white py-8 px-4">
      <div
        class="mx-auto container overflow-hidden flex flex-col lg:flex-row justify-between"
      >
        <a href="/" class="block mr-4 w-1/2">
          <img
            src="https://stitches.hyperyolo.com/images/logo-white.png"
            class="w-32"
            alt="logo"
          />
        </a>
        <div class="w-1/2 flex text-sm mt-6 lg:mt-0">
          <ul
            class="text-gray-700 list-none p-0 font-thin flex flex-col text-left"
          >
            <li
              class="inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide"
            >
              Product
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Popular</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Trending</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Catalog</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Features</a
              >
            </li>
          </ul>
          <ul
            class="text-gray-700 list-none p-0 font-thin flex flex-col text-left"
          >
            <li
              class="inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide"
            >
              Company
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Press Release</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Mission</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Strategy</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Works</a
              >
            </li>
          </ul>
          <ul
            class="text-gray-700 list-none p-0 font-thin flex flex-col text-left"
          >
            <li
              class="inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide"
            >
              Info
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Support</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Developers</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Customer Services</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline"
                >Started Guide</a
              >
            </li>
          </ul>
          <div class="text-gray-700 flex flex-col">
            <div
              class="inline-block py-2 px-3 text-white uppercase font-medium tracking-wide"
            >
              Follow Us
            </div>
            <div class="flex pl-4 justify-start">
              <a
                class="block flex items-center text-white hover:text-gray-500 mr-6 no-underline"
                href="#"
                ><i class="fab fa-github-alt"></i
              ></a>
              <a
                class="block flex items-center text-white hover:text-gray-500 mr-6 no-underline"
                href="#"
                ><i class="fab fa-slack"></i
              ></a>
              <a
                class="block flex items-center text-white hover:text-gray-500 no-underline"
                href="#"
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-4 mt-4 text-gray-700 border-t border-gray-900 text-center">
        ©2019 Hyperyolo. All rights reserved.
      </div>
    </footer>
  </body>
</html>
