#heading {
  font-size: 8rem;
  font-family: "Source Code Pro", monospace;
}
@media all and (max-width: 500px) {
  #heading {
    font-size: 3rem;
    font-family: "Source Code Pro", monospace;
  }
}
